// out: ../css/style1.css

html,
body {
    margin: 0;
    font-family: "Tahoma";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    box-shadow: none;
    border: none;
}

.wrapper {
    margin: 0 auto;
    padding: 30px 0;
    max-width: 800px;
    background-color: rgba(233, 227, 248, 0.8);

    h1 {
        text-align: center;
        font-size: 28px;
        margin-bottom: 30px;
    }

    >form {
        text-align: center;
        margin-bottom: 30px;
    }

    .generalTable {
        margin: 0 auto;
        margin-bottom: 50px;
        border: none;
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 1);

        caption {
            font-size: 26px;
            font-weight: 600;
            padding: 20px;
        }

        tr {
            transition: all 0.3s ease;

            th {
                padding: 20px;
                font-size: 20px;
            }

            .lastTd {
                display: flex;
                justify-content: space-between;

                .pen {
                    display: block;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    opacity: 0;
                    visibility: hidden;
                    background-image: url(../img/pen.svg);
                    transition: all 0.3s ease;
                }
            }

            td {
                padding: 10px;
                position: relative;

                form {
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    border: none;

                    .wrapperButtons {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;

                        .iconsGeneralRulls {
                            background-color: rgba(255, 255, 255, 0);
                            display: block;
                            width: 25px;
                            height: 25px;
                            background-repeat: no-repeat;
                            background-position: center;
                            transition: all 0.3s ease;
                            margin-right: 10px;
                            border: none;


                            &:hover {
                                transform: scale(1.9);
                            }
                        }

                        .saveIcon {
                            background-image: url(../img/save.svg);
                        }

                        .cancelIcon {
                            background-image: url(../img/cancel.svg);
                        }
                    }
                }
            }

            #selectedTd {}


        }

        .selected {
            color: red;
        }

        tr:not(:first-child) {
            cursor: pointer;
        }

        tr:hover:not(:first-child) {

            box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
                0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
            background-color: rgba(51, 51, 0, 0.2);

            .lastTd {
                .pen {
                    visibility: visible;
                    opacity: 0.7;
                    transform: scale(1.5);

                    &:hover {
                        transform: scale(2);
                    }
                }
            }
        }


    }

    #dataTable {
        // opacity: 0;
        // visibility: hidden;
    }

    // #copyTable {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     opacity: 0;
    //     visibility: hidden;
    // }
    .plug {
        form {
            opacity: 0;
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
}