@media (max-width: 900px) {
  .wrapper {
    box-sizing: border-box;
    min-width: 600px;

    .tableWrapper {
      .dataTable {
        max-width: 100%;
        caption {
          font-size: 2.5em;
          padding: 10px;
        }
        tr {
          th {
            font-size: 1.1em;
            padding: 5px 10px;
          }
          td {
            font-size: 0.9em;
            padding: 5px;

            input {
              padding: 2px;
            }

            .wrapperButtons {
              .iconsGeneralRulls {
                margin-right: 0;
                width: 40px;
                height: 40px;
              }
            }
          }

          .lastTd {
            .wrapForEditAndDelButtons {
              .editCancelButtonsGeneral {
                // width: 20px;
                // height: 20px;
              }
            }
          }
        }
        tr:hover:not(:first-child) {
          .editCancelButtonsGeneral {
            transform: scale(2);

            &:hover {
              transform: scale(2.5);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
