html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f3f3f3;
}
.nav_bar {
  display: none;
}
.site_header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.6s ease;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #5f5a5a;
}
.site_header.scroll {
  background-color: #000000;
  border-bottom: none;
}
.site_header .site_logo {
  transition: all 1s ease;
  margin-left: 10%;
  height: 60px;
  cursor: pointer;
  animation: logo_appear 1.5s ease;
}
.site_header .site_logo:hover {
  transform: translateY(80px) rotate(360deg) scale(5);
}
.site_header ul li {
  display: inline-block;
  margin-right: 20px;
}
.site_header ul li a {
  transition: all 0.3s ease;
  color: #ffffff;
}
.site_header ul li a:hover {
  color: #00a8ff;
}
.site_header ul li:last-child {
  margin-right: 0px;
}
.site_header .btn_consultation > p {
  position: relative;
}
.site_header .btn_consultation > p:before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/message.svg");
  left: -30px;
  top: 25px;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.site_header .click_menu_wrp {
  display: none;
}
.site_header .om {
  display: none;
}
.btn_consultation {
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  cursor: pointer;
  background-color: #000;
  position: relative;
  transition: all 0.6s ease;
}
.btn_consultation:hover:after {
  content: "";
  transition: all 0.6s ease;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00a8ff;
  transform: translateX(100%);
}
.btn_consultation:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00a8ff;
}
.btn_consultation p {
  color: #ffffff;
  line-height: 60px;
}
.wellcome .container {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}
.wellcome .container .wellcome_text {
  max-width: 34%;
  float: left;
}
.wellcome .container .wellcome_text h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.wellcome .container .wellcome_text h2:after {
  content: "//";
  color: #00a8ff;
  letter-spacing: -12px;
}
.wellcome .container .wellcome_text h2 span {
  color: #00a8ff;
}
.wellcome .container .wellcome_text .wellcome_text_p {
  max-width: 95%;
  font-size: 16px;
  color: #898a8c;
  margin-bottom: 115px;
}
.wellcome .container .wellcome_text .btn_consultation p {
  line-height: 40px;
}
.wellcome .container .wellcome_img {
  float: right;
  max-width: 60%;
}
.our_services_text_column {
  max-width: 40%;
  padding: 120px 0;
}
.our_services {
  background: none no-repeat scroll right top transparent;
  background-image: url(../img/img-homepage-2.jpg);
  background-color: #000;
  background-size: 60% auto;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp h4 {
  display: inline-block;
  color: #fff;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp h4:after {
  content: "//";
  color: #00a8ff;
  letter-spacing: -6px;
  font-size: 36px;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .read_more {
  color: #00a8ff;
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  padding-right: 10px;
  position: relative;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .read_more:after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/arrow-right.svg");
  right: -20px;
  top: 5px;
  background-size: 10px 10px;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links {
  max-width: 100%;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp {
  position: relative;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp:hover .our_services_link {
  background-color: #00a8ff;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp:hover .our_services_link .p_number {
  color: #fff;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp:hover .our_services_link .p_text {
  color: #fff;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp:hover .our_services_inner_link {
  transform: translateX(100%);
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp .our_services_link {
  position: relative;
  z-index: 100;
  display: block;
  transition: all 0.3s ease;
  background-color: #000000;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp .our_services_link .p_number {
  display: inline-block;
  color: #bdbdbd;
  font-size: 18px;
  line-height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp .our_services_link .p_text {
  display: inline-block;
  color: #bdbdbd;
  font-size: 18px;
}
.our_services .container .our_services_text_column .our_services_text_column_inner_wrp .related_links .our_services_link_wrp .our_services_inner_link {
  transition: all 0.4s ease;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  text-decoration: underline;
  color: #000;
}
.our_projects {
  margin-top: 50px;
  margin-bottom: 50px;
  overflow: auto;
}
.our_projects .our_projects_text {
  max-width: 34%;
  float: left;
}
.our_projects .our_projects_text h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.our_projects .our_projects_text h2:after {
  content: "//";
  color: #00a8ff;
  letter-spacing: -12px;
}
.our_projects .our_projects_text .btn_consultation p {
  line-height: 40px;
}
.our_projects .our_projects_img {
  float: right;
  max-width: 60%;
}
footer {
  background-color: #000;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .container .copyright img {
  margin: 0 auto;
  height: 120px;
  margin-bottom: 5px;
}
footer .container .copyright p {
  color: #958888;
  font-size: 12px;
}
footer .container .nav_footer > ul > li {
  margin-bottom: 14px;
}
footer .container .nav_footer > ul > li > a {
  transition: all 0.3s ease;
  color: #ffffff;
}
footer .container .nav_footer > ul > li > a:hover {
  color: #00a8ff;
}
footer .container .nav_footer > ul li:last-child {
  margin-bottom: 0px;
}
footer .container .location {
  text-align: left;
}
footer .container .location ul {
  display: inline-block;
  position: relative;
}
footer .container .location ul li {
  margin-bottom: 10px;
}
footer .container .location ul li > p {
  color: #fff;
  color: #958888;
  font-size: 12px;
}
footer .container .location ul li > img {
  position: absolute;
  left: -50px;
  width: 40px;
  height: 40px;
}
footer .container .phone_mail_wrap {
  overflow: auto;
}
footer .container .phone_mail_wrap .first_line {
  text-align: right;
}
footer .container .phone_mail_wrap .first_line .phone {
  color: #fff;
  font-size: 38px;
  line-height: 1.2;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
footer .container .phone_mail_wrap .first_line .phone:hover {
  color: #00a8ff;
}
footer .container .phone_mail_wrap .first_line .slash {
  font-size: 38px;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  color: #00a8ff;
}
footer .container .phone_mail_wrap .mail {
  font-size: 20px;
  line-height: 1.2;
  color: #00a8ff;
  margin-bottom: 30px;
}
footer .container .phone_mail_wrap .copyright_plus_insta p {
  display: none;
  color: #958888;
  font-size: 12px;
}
footer .container .phone_mail_wrap .copyright_plus_insta a {
  float: right;
}
footer .container .phone_mail_wrap .copyright_plus_insta a img {
  width: 40px;
}
@keyframes logo_appear {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
