html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  /* margin: 0;
  padding: 0;
  font-family: "Tahoma"; */
  font-size: 16px;
  /* color: #000000;
  font-weight: 400; */
  /* list-style: none;
  text-decoration: none; */
  /* box-shadow: none;
  border: none; */
}
body {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
}
a {
  padding: 6px;
  color: #b3b7bf;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid #e0ebf7;
  border-radius: 10px;
}
a:hover {
  color: #e0ebf7;
  background-color: #669ad3;
  color: #000;
}
.sectionFindUser {
  position: relative;
}
.form {
  display: flex;
  justify-content: space-around;
  width: 300px;
  /* height: 100px; */
  background-color: #778ca3;
  border-radius: 5px;
  padding: 40px;
  animation: form_appear 1.5s ease;
}
input {
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease;
}
input:focus {
  outline: 3px solid #669ad3;
}
input:hover {
  background-color: #e0ebf7;
}
button:hover {
  background-color: #669ad3;
}
button:focus {
  outline: 3px solid #669ad3;
}

button {
  height: 30px;
  padding: 0 30px;
  background-color: #a5b1c2;
  border: none;
  border-radius: 2px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.user {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 450px;
  max-width: 100%;
  height: auto;
  background-color: #231e39;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}
.user.active {
  opacity: 1;
  visibility: visible;
}

.nickNameLink {
  animation: form_appear 1.5s ease;
  display: block;
  margin-bottom: 20px;
}

img {
  animation: form_appear 1.5s ease;
  display: block;
  margin: 0 auto;

  margin-bottom: 20px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 7px #231e39, 0 0 0 8px #ddd;
}

.taskLink {
  animation: form_appear 1.5s ease;
  display: block;
}
h4 {
  animation: form_appear 1.5s ease;
  display: block;
  color: #b3b7bf;
  font-size: 16px;
}

@keyframes form_appear {
  0% {
    /* transform: translateY(200px) rotate(360deg); */
    /* transform: rotate(360deg); */
    opacity: 0;
  }
  100% {
    /* transform: translateY(0) rotate(0deg); */
    /* transform: rotate(0deg); */
    opacity: 1;
  }
}
