// out: ../css/style.css
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  list-style: none;
  text-decoration: none;
  box-shadow: none;
  border: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.site_header {
  background-color: #34495e;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    margin-left: 5%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }

  nav {
    padding-right: 5%;
    width: 40%;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        display: inline-block;
        transition: all 0.3s linear;
        font-size: 10px;
        line-height: 18px;
        color: #fff;
        padding: 15px 8px 15px 8px;
      }
      a:hover {
        background-color: #eee;
        color: #34495e;
      }
    }
  }
}
.container_main {
  display: flex;
  justify-content: space-between;

  .articles {
    width: 70%;
    .card {
      box-sizing: border-box;
      padding-left: 5%;
      img {
        margin-bottom: 16px;
        width: 100%;
      }
      h4 {
        font-size: 12px;
        margin-bottom: 12px;
      }
      .paragraph {
        font-size: 10px;
        margin-bottom: 14px;
      }
      .caption_plus_button {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 16px;
        p {
          font-size: 10px;
        }

        button {
          transition: all 0.3s linear;
          font-size: 10px;
          cursor: pointer;
          padding: 8px 10px 8px 10px;
          border: none;
          background-color: #374c61;
          color: #fff;
          border-radius: 3px;
        }
        button:hover {
          background-color: #577696;
        }
      }
      .line {
        height: 2px;
        background-color: #a8a8a8;
        margin-bottom: 20px;
      }
    }
  }

  .nav_bar {
    width: 25%;
    box-sizing: border-box;
    padding-right: 5%;
    .authorization_form {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 14px;
      // width: 168px;
      background-color: #34495e;
      h5 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
      label {
        input {
          box-sizing: border-box;
          margin-bottom: 8px;
          padding-left: 8px;
          height: 18px;
          width: 100%; /////////
          line-height: 18px;
          // padding-left: 20px;
          // border: 1px solid #e7e7e7;
          border-radius: 2px;
          color: black;
          font-size: 10px;
        }
      }
      .registration_and_enter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          transition: all 0.3s linear;
          color: #fff;
          font-size: 10px;
        }
        a:hover {
          color: rgb(218, 213, 213);
        }
        button {
          transition: all 0.3s linear;
          border: none;
          padding: 3px 6px 3px 6px;
          font-size: 10px;
          cursor: pointer;
          border-radius: 1px;
          background-color: #f0f6f2;
        }
        button:hover {
          background-color: #d6d6d6;
        }
      }
    }
    .find_form {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 14px;
      // width: 168px;
      background-color: #34495e;
      h5 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
      .input_and_button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
          width: 70%;
          input {
            box-sizing: border-box;
            padding-left: 8px;
            height: 18px;
            /////////
            
            line-height: 18px;
            border-radius: 1px;
            border: none;
            color: black;
            font-size: 10px;
          }
        }

        button {
          max-width: 30%;
          transition: all 0.3s linear;
          border: none;
          padding: 3px 6px 3px 6px;
          font-size: 10px;
          cursor: pointer;
          border-radius: 1px;
          background-color: #f0f6f2;
        }
        button:hover {
          background-color: #d6d6d6;
        }
      }
    }
    .heading {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 14px;
      // width: 168px;
      background-color: #34495e;
      h5 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
      ul {
        li {
          li:not(:last-child) {
            margin-bottom: -2px;
          }
          a {
            transition: all 0.3s linear;
            color: #fff;
            font-size: 10px;
            line-height: 10px;
          }
          a:hover {
            color: rgb(218, 213, 213);
          }
        }
      }
    }
    .archive {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 14px;
      // width: 168px;
      background-color: #34495e;
      h5 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
      ul {
        li {
          li:not(:last-child) {
            margin-bottom: -2px;
          }
          a {
            transition: all 0.3s linear;
            color: #fff;
            font-size: 10px;
            line-height: 10px;
          }
          a:hover {
            color: rgb(218, 213, 213);
          }
        }
      }
    }
    .last_comments {
      margin-bottom: 20px;
      box-sizing: border-box;
      padding: 14px;
      // width: 168px;
      background-color: #34495e;
      h5 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 8px;
      }
      ul {
        li {
          li:not(:last-child) {
            margin-bottom: -2px;
          }
          a {
            transition: all 0.3s linear;
            color: #fff;
            font-size: 10px;
            line-height: 10px;
          }
          a:hover {
            color: rgb(218, 213, 213);
          }
        }
      }
    }
  }
}
@media (max-width: 670px) {
  .site-header {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    nav {
      opacity: 0;
      visibility: hidden;
    }
  }
  .container_main {
    display: block;
    .articles {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
    .nav_bar {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}
