body {
    font-family: "Comic Sans MS", sans-serif;
}

.sr {
    max-width: 800px;
    margin: 30px;
    border: 1px solid #ccc;
    padding: 10px;

    h2 {
        margin: 0;
    }
}

canvas {
    // margin: 30px;
    position: absolute;
    top: 400px;
    left: 30px;
}